canvas {
	width: 100%;
	height: 100%;
	background: black;
}

body {
	height: 100%;
	margin: 0;
}


/*
      a: {
	  color: "purple",
	  sound: new Howl({
	   src: ['Sounds/bubbles.mp3']
	})
  },
     s: {
     color: "green",
     sound: new Howl({
     src: ['Sounds/clay.mp3']
   })
  },
  d: {
     color: "red",
     sound: new Howl({
     src: ['Sounds/confetti.mp3']
   })
  },*/